<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="description" content="" />
    <link href="{$URL}commom/img/icon-tab.png" rel="icon">
    {include file="../inc/cssUrmAmigavel.html"}
    <link rel="stylesheet" type="text/css" href="{$URL}commom/css/estilo.css">
    <title>Qteck</title>
    <!-- Bootstrap -->
    <link href="{$URL}commom/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {include file="../inc/header.html"}
    <section>
        <article class="row conteudo">
            {include file="../inc/breadcrumb.html"}
            <div class="width-default conteudo-interna">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h1 class="titulo-pagina">Contato</h1>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 pd-tp-20 width-default-mob">
                    <p class="txt-default">
                        Faça uma consulta. Seja qual for a sua dúvida, sugestão, elogio ou reclamação, entre em contato conosco. <br><br>
                        Você também pode utilizar o formulário de contato para submeter as suas questões.<br><br>
                        Qteck – Escritório Central  ABC<br>
                    </p>
                    <div class="row">
                        <p class="txt-default pull-left mg-none">Tel. </p> <a class="txt-default hover-laranja" href="tel:1149912288"> (11) 4991 2288</a><br>                        
                    </div>
                    <div class="row">
                        <a class="txt-default hover-laranja" href="mailto:qteck@qteck.com.br">qteck@qteck.com.br</a><br><br>
                    </div>
                    <iframe class="map-google mg-none" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.951815542609!2d-46.54251768502062!3d-23.641896584643046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce42c681d50efd%3A0xeab716679c61acbc!2sAv.+Dom+Pedro+II%2C+1667+-+Campestre%2C+Santo+Andr%C3%A9+-+SP!5e0!3m2!1spt-BR!2sbr!4v1456841126039" height="165" frameborder="0" allowfullscreen></iframe>
                </div>  
                <div class="col-xs-12 col-sm-8 col-md-8 pd-tp-20">
                    <div class="bloco-contato">
                        {include file=../inc/form.html}
                    </div>
                </div>
            </div>            
        </article> 
    </section>
    {include file="../inc/footer.html"}
</body>
</html>